body {
    background-color: #333;
    color: #eee;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evita barras de rolagem */
}

h1 {
    margin-bottom: 20px;
}

#gameCanvas {
    background-color: #87CEEB;
    border: 2px solid #fff;
    width: 95vw; /* O canvas ocupa 95% da largura da tela */
    height: auto; /* A altura se ajusta automaticamente para manter a proporção */
    cursor: pointer;
}

#controls {
    display: none; /* Esconde os botões por padrão */
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

#controls button {
    font-size: 2.5em;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /* Remove o destaque de toque em mobile */
}

/* Mostra os controles apenas em telas pequenas (mobile) */
@media (max-width: 768px) {
    #controls {
        display: flex;
    }
    h1 {
        display: none; /* Esconde o título em telas pequenas */
    }
}
